<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div style="padding: 20px;">
        </div>
        <div class="container lead">
            <div class="text-center">
                <h1 class="gras">À PROPOS <br> DE DAVYCAS <br> INTERNATIONAL</h1>
            </div>
        </div> 
        <div style="padding: 20px;">
        </div>
</div>

<div class="jumbotron" style="margin: 0%; padding-top: 1px;">
    <div class="container">
        <h2 class="display-4">Ma passion : vous donner l'inspiration</h2>
        <p class="lead">
            Paragraphe. Cliquez ici pour ajouter votre propre texte. Cliquez sur "Modifier Texte" ou double-cliquez 
            ici pour ajouter votre contenu et personnaliser les polices. Déplacez-moi où vous le souhaitez sur votre page.
            Présentez votre activité à vos visiteurs.
        </p>
        <p class="lead">
            C'est l'espace idéal pour présenter votre entreprise, vos services et vos équipes en détails. Présentez votre équipe et 
            les services proposés. Racontez l'histoire de votre entreprise et la raison pour laquelle elle a été crée. Expliquez à vos 
            visiteurs vos motivations, vos objectifs et soulignez vos avantages par rapport à vos concurrents.
        </p>    ​
        <p class="lead">  
            Chez Wix, nous sommes fiers de mettre à votre disposition des templates qui vous permettront de créer de magnifiques sites. 
            Nos échanges avec notre communauté d'utilisateurs nous ont permis de vous proposer un choix varié de templates. Tenez-vous 
            informé des fonctionnalités à venir dans la section "Général" de l'assistance. N'hésitez pas à nous faire part de vos avis 
            via le Forum Wix. Si vous souhaitez contacter un professionnel, rendez-vous sur la Wix Arena. Si vous cherchez des réponses 
            à vos questions, n'hésitez pas à contacter l'assistance via le Forum.
        </p>
    </div>
</div>