<app-carousel></app-carousel>
<div style="width: 50%; height: 600px; background-color: white;">
    <div class="card h-100">
        <div class="card-body">
            <div class="row h-100 justify-content-md-center">
                <div class="col-8">
                   <div style="padding: 20px;"></div>
                   <h2 class="card-title font-weight-bold">A PROPOS</h2>
                   <h4 class="display-5">Ma passion : vous donner l'inspiration</h4>
                   <p class="lead">
                       Paragraphe. Cliquez ici pour ajouter votre propre texte. Cliquez sur "Modifier Texte" ou double-cliquez 
                       ici pour ajouter votre contenu et personnaliser les polices. Déplacez-moi où vous le souhaitez sur votre page.
                       Présentez votre activité à vos visiteurs.
                   </p>
                   <a class="btn btn-outline-dark btn-sm active" routerLink="/about">En savoir plus</a>
                </div>
            </div>
        </div>
    </div>
</div>