
<div style="padding: 10px;">
</div>
<div style="background-color: silver; padding: 2px;">
</div>
<div class="card" style="background-color: lightskyblue; height: 500px;">
    <div class="card-body">
        <div style="padding: 20px;"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <h2 class="card-title font-weight-bold">CONTACT</h2>
                    <h6>
                        <p class="lead"> 08 BP 11593 Ouagadougou , Burkina Faso,</p> 
                        <p class="lead">Gounghin secteur ex-8, Petit-Paris, Porte 30</p>
                    </h6>
                    <h6 class="lead">
                        Tél. : (+226) 25-34-12-50 / (+226) 75 27 21 91
                    </h6>
                    <br>
                    <div>
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">
                                    <img src="assets/images/facebook-icone.png" width="30" height="30" alt="facebook">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <img src="assets/images/twitter-icon.png" width="30" height="30" alt="twitter">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <img src="assets/images/instagram-icone.png" width="30" height="30" alt="instagram">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">
                                    <img src="assets/images/youtube-icone.png" width="30" height="30" alt="youtube">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">
                                    <img src="assets/images/google-plus-icon.png" width="30" height="30" alt="...">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 col-sm-6">
                    <app-map></app-map>
                </div>
            </div>
        </div>
    </div>
</div>