<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div style="padding: 10px;">
        </div>
        <div class="container">
            <div class="text-center lead">
                        <h1 class="gras">SERVICES</h1>
            </div>
        </div>
</div>

<div class="container">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="row">
            <div class="col-3 card" style="margin: 4%;">
                <div class="card-body text-center">
                    <div class="row">
                        <div class="offset-1 col-10">
                            <h5 class="card-title">Développement de soi</h5>
                            <h6 class="card-subtitle mb-2 text-muted text-center"></h6> <br>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <div class="text-center">
                                <a href="#" class="card-link">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-3 card" style="margin: 4%;">
                <div class="card-body text-center">
                    <div class="row">
                        <div class="offset-1 col-10">
                            <h5 class="card-title">Conseils de couple</h5>
                            <h6 class="card-subtitle mb-2 text-muted text-center"></h6> <br>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <div class="text-center">
                                <a href="#" class="card-link">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
    
            <div class="col-3 card" style="margin: 4%;">
                <div class="card-body text-center">
                    <div class="row">
                        <div class="offset-1 col-10">
                            <h5 class="card-title">Coaching individuel</h5>
                            <h6 class="card-subtitle mb-2 text-muted text-center"></h6> <br>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <div class="text-center">
                                <a href="#" class="card-link">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>